<h1>Sources</h1>

<div class="row">
  <% @sources.each do |source| %>
  <div class="col-md-1">
    <%= image_tag source.image, class: 'img-fluid img-fill' unless source.image.nil? %>
    <%= link_to source, source %>
  </div>
  <% end %>
</div>
