<div class="articles">
  <header>
    <h1>Articles</h1>
    <%= simple_form_for Article.new, url: from_url_articles_path do |f| %>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <%= f.input :url, as: :string, placeholder: 'URL', label: false %>
        <%= f.button :submit, 'Importer' %>
      </div>
    </div>
    <% end %>
  </header>
  <div class="card-columns">
    <%= render @articles %>
  </div>
</div>
