<% content_for :title, "#{@theme}" %>

<div class="theme">
  <header>
    <h1><%= @theme %></h1>
    <%= link_to 'Edit', edit_theme_path(@theme) %>
  </header>
  <div class="articles">
    <div class="card-columns">
      <%= render @articles %>
    </div>
    <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
