<% content_for :title, 'Lettres' %>
<header>
  <h1>Lettres</h1>
  <%= link_to 'Nouvelle lettre',
              new_letter_path,
              class: 'btn btn-light btn-sm' if can? :create, Letter %>
</header>
<div class="row">
  <% @letters.each do |letter| %>
    <div class="col-md-3">
      <h2><%= link_to letter, letter %></h2>
      <p><%= letter.dates %></p>
    </div>
  <% end %>
</div>
