<% content_for :title, "#{@country}" %>
<div class="country">
  <header>
    <h1><%= @country %></h1>
  </header>
  <div class="articles">
    <div class="card-columns">
      <%= render @articles %>
    </div>
    <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
