@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap')

$font-family-base: 'Domine', serif
$brand-primary: #000000
$link-color: #990000

@import "bootstrap"
@import "application/*"
