@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&family=Work+Sans:wght@300;700&display=swap')
$sans: 'Work Sans', sans-serif
$serif: 'Vollkorn', serif

$font-family-base: $serif
$headings-font-weight: 400
$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0
$primary: #000000

@import "bootstrap"
@import "application/*"
