.home
    h2
        background: $color
        font-size: 30px
        margin-top: 60px
        margin-bottom: 30px
        text-align: center
        a
            color: white
            padding: 0px 7px
            text-transform: uppercase
    .articles__article
        .article__themes
            display: none
