nav
  margin-bottom: 100px
  img
    display: block
    margin: 10px auto
    width: 200px
h1
  font-style: italic
  text-rendering: geometricPrecision
header
  text-align: center
  padding-bottom: 200px
  h1
    font-size: 60px
a
  text-decoration: none !important
.img-fill
  width: 100%
hr
  border: none
  border-bottom: 1px dotted #000000
