nav
  margin-bottom: 60px
  img
    display: block
    margin: 30px auto
    width: 200px
a
  text-decoration: none !important

.img-fill
  width: 100%

hr
  border: none
  border-bottom: 1px dotted #000000

.articles
  column-count: 6
  &__article
    padding-bottom: 15px
    img
      filter: grayscale(1)
      transition: filter 0.5s
      margin-bottom: 20px
      &:hover
        filter: none
    &__source
      font-size: 12px
      opacity: 0.5
