.navbar
  margin-bottom: 100px
  padding-top: 80px !important
  .navbar-brand
    position: absolute
    left: 50%
    top: 20px
    margin-left: -100px
    img
      display: block
      width: 200px
  a
    font-family: $sans
    text-transform: uppercase
    font-size: 14px
    text-align: center
h1
  font-style: italic
  text-rendering: geometricPrecision
header
  text-align: center
  padding-bottom: 150px
  h1
    font-size: 50px
a
  text-decoration: none !important
.img-fill
  width: 100%
hr
  border: none
  border-bottom: 1px dotted #000000
footer
  margin-top: 100px
  padding: 60px 0
  background: black
  &, & a
    color: white
  .icon
    width: 50px
  .description
    font-style: italic
    font-family: $serif
    font-size: 20px
  .author
    font-family: $sans
    font-size: 14px
.card-columns
  .card
    break-inside: avoid
