.source
  header
    img
      max-width: 200px
  .article__source
    display: none
.sources
  &__source
    border: #EEEEEE 1px solid
    // height: 350px
    padding: 15px
    margin-bottom: 30px
    position: relative
    // text-align: center
    h1
      font-size: 24px
      font-weight: bold
    p
      font-size: 10px
      text-transform: uppercase
      font-family: $sans
